In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('bulk.csv')
df.head(10)

,date,geography,geography code,Rural Urban,Occupation: All categories: Occupation; measures: Value,"Occupation: 1. Managers, directors and senior officials; measures: Value",Occupation: 11. Corporate managers and directors; measures: Value,Occupation: 111. Chief Executives and Senior Officials; measures: Value,Occupation: 112. Production Managers and Directors; measures: Value,Occupation: 113. Functional Managers and Directors; measures: Value,...,Occupation: 911. Elementary Agricultural Occupations; measures: Value,Occupation: 912. Elementary Construction Occupations; measures: Value,Occupation: 913. Elementary Process Plant Occupations; measures: Value,Occupation: 92. Elementary administration and service occupations; measures: Value,Occupation: 921. Elementary Administration Occupations; measures: Value,Occupation: 923. Elementary Cleaning Occupations; measures: Value,Occupation: 924. Elementary Security Occupations; measures: Value,Occupation: 925. Elementary Sales Occupations; measures: Value,Occupation: 926. Elementary Storage Occupations; measures: Value,Occupation: 927. Other Elementary Services Occupations; measures: Value
0,2011,Darlington,E06000005,Total,49014,4639,2972,63,807,606,...,84,205,428,4921,543,1402,494,135,817,1530
1,2011,County Durham,E06000047,Total,227894,20169,12762,311,3937,2302,...,689,1935,4137,21329,1606,6342,2645,701,2941,7094
2,2011,Hartlepool,E06000001,Total,37767,3035,1927,30,640,297,...,42,315,596,3803,253,1223,526,134,411,1256
3,2011,Middlesbrough,E06000002,Total,54547,3884,2372,42,599,416,...,34,430,642,6949,481,2059,894,158,900,2457
4,2011,Northumberland,E06000057,Total,146901,15459,9184,306,2496,1925,...,1145,952,1448,12677,1000,4055,1333,324,1257,4708
5,2011,Redcar and Cleveland,E06000003,Total,56354,4370,2657,70,841,406,...,118,480,763,5818,405,1779,750,148,783,1953
6,2011,Stockton-on-Tees,E06000004,Total,87122,7894,5220,97,1539,1014,...,110,461,757,8727,690,2567,1128,321,1290,2731
7,2011,Gateshead,E08000037,Total,91877,7720,5048,92,1386,1021,...,83,515,1027,9248,935,2835,970,203,1475,2830
8,2011,Newcastle upon Tyne,E08000021,Total,119335,9556,5730,161,1315,1401,...,96,598,762,14534,966,4185,1434,350,1047,6552
9,2011,North Tyneside,E08000022,Total,96026,8205,5233,110,1401,1202,...,60,400,599,8609,717,2580,1130,276,847,3059

##### Extract 2-Digit SOC codes for each local authority

In [3]:
soc_columns =  df.columns[1:]

lad_soc = df[soc_columns]
lad_soc[:5]

,geography,geography code,Rural Urban,Occupation: All categories: Occupation; measures: Value,"Occupation: 1. Managers, directors and senior officials; measures: Value",Occupation: 11. Corporate managers and directors; measures: Value,Occupation: 111. Chief Executives and Senior Officials; measures: Value,Occupation: 112. Production Managers and Directors; measures: Value,Occupation: 113. Functional Managers and Directors; measures: Value,Occupation: 115. Financial Institution Managers and Directors; measures: Value,...,Occupation: 911. Elementary Agricultural Occupations; measures: Value,Occupation: 912. Elementary Construction Occupations; measures: Value,Occupation: 913. Elementary Process Plant Occupations; measures: Value,Occupation: 92. Elementary administration and service occupations; measures: Value,Occupation: 921. Elementary Administration Occupations; measures: Value,Occupation: 923. Elementary Cleaning Occupations; measures: Value,Occupation: 924. Elementary Security Occupations; measures: Value,Occupation: 925. Elementary Sales Occupations; measures: Value,Occupation: 926. Elementary Storage Occupations; measures: Value,Occupation: 927. Other Elementary Services Occupations; measures: Value
0,Darlington,E06000005,Total,49014,4639,2972,63,807,606,150,...,84,205,428,4921,543,1402,494,135,817,1530
1,County Durham,E06000047,Total,227894,20169,12762,311,3937,2302,558,...,689,1935,4137,21329,1606,6342,2645,701,2941,7094
2,Hartlepool,E06000001,Total,37767,3035,1927,30,640,297,80,...,42,315,596,3803,253,1223,526,134,411,1256
3,Middlesbrough,E06000002,Total,54547,3884,2372,42,599,416,106,...,34,430,642,6949,481,2059,894,158,900,2457
4,Northumberland,E06000057,Total,146901,15459,9184,306,2496,1925,432,...,1145,952,1448,12677,1000,4055,1333,324,1257,4708

In [4]:
def find_two_digit_integers(list_of_numbers):
  """
  Finds all integers with two digits from a list of numbers.

  Args:
    list_of_numbers: A list of numbers.

  Returns:
    A list of all integers with two digits from the list of numbers.
  """

  two_digit_integers = []
  for number in list_of_numbers:
    if number >= 10 and number <= 99:
      two_digit_integers.append(number)

  return two_digit_integers

In [5]:
data_list = []
for col in df.columns[4:]:
    x = find_two_digit_integers(df[col])
    data_list.append(x)

data_list[:3]

[[], [], [60]]

In [6]:
data = pd.DataFrame(data_list)
data = data.T
data.columns = df.columns[4:]
data[['geography', 'geography code']] = df[['geography', 'geography code']]

for col in data.columns[:-2]:
    data[col] = data[col].fillna(0)

data.head()

,Occupation: All categories: Occupation; measures: Value,"Occupation: 1. Managers, directors and senior officials; measures: Value",Occupation: 11. Corporate managers and directors; measures: Value,Occupation: 111. Chief Executives and Senior Officials; measures: Value,Occupation: 112. Production Managers and Directors; measures: Value,Occupation: 113. Functional Managers and Directors; measures: Value,Occupation: 115. Financial Institution Managers and Directors; measures: Value,Occupation: 116. Managers and Directors in Transport and Logistics; measures: Value,Occupation: 117. Senior Officers in Protective Services; measures: Value,Occupation: 118. Health and Social Services Managers and Directors; measures: Value,...,Occupation: 913. Elementary Process Plant Occupations; measures: Value,Occupation: 92. Elementary administration and service occupations; measures: Value,Occupation: 921. Elementary Administration Occupations; measures: Value,Occupation: 923. Elementary Cleaning Occupations; measures: Value,Occupation: 924. Elementary Security Occupations; measures: Value,Occupation: 925. Elementary Sales Occupations; measures: Value,Occupation: 926. Elementary Storage Occupations; measures: Value,Occupation: 927. Other Elementary Services Occupations; measures: Value,geography,geography code
0,0.0,0.0,60.0,63.0,39.0,0.0,80.0,84.0,91.0,71.0,...,96.0,0.0,13.0,29.0,91.0,99.0,14.0,80.0,Darlington,E06000005
1,0.0,0.0,0.0,30.0,11.0,0.0,81.0,83.0,53.0,68.0,...,66.0,0.0,0.0,36.0,43.0,85.0,0.0,57.0,County Durham,E06000047
2,0.0,0.0,0.0,42.0,0.0,0.0,48.0,10.0,46.0,91.0,...,70.0,0.0,0.0,0.0,0.0,85.0,0.0,0.0,Hartlepool,E06000001
3,0.0,0.0,0.0,70.0,0.0,0.0,30.0,98.0,82.0,69.0,...,75.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,Middlesbrough,E06000002
4,0.0,0.0,0.0,97.0,0.0,0.0,56.0,90.0,78.0,73.0,...,40.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,Northumberland,E06000057

In [8]:
sum_list = []
for col in data.columns[:-2]:
    sum_list.append(data[col].sum())
    
sum_df = pd.DataFrame(data.columns[:-2])
sum_df.columns = ['occupation']
sum_df['total_jobs'] = sum_list
sum_df = sum_df.T
sum_df

,0,1,2,3,4,5,6,7,8,9,...,115,116,117,118,119,120,121,122,123,124
occupation,Occupation: All categories: Occupation; measur...,"Occupation: 1. Managers, directors and senior ...",Occupation: 11. Corporate managers and directo...,Occupation: 111. Chief Executives and Senior O...,Occupation: 112. Production Managers and Direc...,Occupation: 113. Functional Managers and Direc...,Occupation: 115. Financial Institution Manager...,Occupation: 116. Managers and Directors in Tra...,Occupation: 117. Senior Officers in Protective...,Occupation: 118. Health and Social Services Ma...,...,Occupation: 911. Elementary Agricultural Occup...,Occupation: 912. Elementary Construction Occup...,Occupation: 913. Elementary Process Plant Occu...,Occupation: 92. Elementary administration and ...,Occupation: 921. Elementary Administration Occ...,Occupation: 923. Elementary Cleaning Occupatio...,Occupation: 924. Elementary Security Occupatio...,Occupation: 925. Elementary Sales Occupations;...,Occupation: 926. Elementary Storage Occupation...,Occupation: 927. Other Elementary Services Occ...
total_jobs,0.0,0.0,60.0,10272.0,50.0,0.0,2239.0,687.0,11690.0,2101.0,...,8366.0,405.0,1236.0,0.0,13.0,65.0,134.0,1464.0,14.0,137.0